.player-field {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.player-field .player {
  flex: auto;
  padding: 1rem;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player.active {
  opacity: 1;
}

.player-1 {
  background-color: #dc3545;
}

.player-2 {
  background-color: #fd7e14;
}

.player-3 {
  background-color: #ffc107;
}

.player-4 {
  background-color: #198754;
}
